<script async defer src="/javascripts/main.js"></script>
<script async defer src="/javascripts/contenidos.js"></script>

<header class="row row-cols-auto">
    <h1>
        <a href="https://www.reddit.com/">REDDIT.COM</a>
    </h1>
    <img src="../images/reddit.jpg">
    
</header>

<button id="btnDatos" class="btn btn-primary">Obtener datos del servidor</button>

<main class="contanier">
    <div class="texto">
        <h2>¿QUE ES REDDIT?</h2>
        <p>Reddit es un agregador de contenido determinado por la comunidad. Hablamos de una plataforma social en la que
            los usuarios envían publicaciones que otros usuarios pueden votar -a favor o en contra- según sus
            preferencias. Si una publicación recibe muchos votos, sube en la clasificación de Reddit y, por
            consiguiente, más gente puede verla.

            Si recibe votos a la baja, su visibilidad se reduce rápidamente y desaparece de la vista de la mayoría de
            los usuarios. Reddit se divide en subcomunidades o subreddits. Cualquier usuario puede crear subreddits
            sobre cualquier tema, ya sea un asunto general, como tecnología, o específico, como una simple broma.

            Cada subreddit pasa a formar parte de la lista completa de envíos de Reddit, lo cual significa que una
            publicación en cualquier subreddit (a menos que sea privada) puede llegar a la página principal del sitio
            web.
        </p>

        <h3>COMUNIDADES DE REDDIT</h3>
        <p>Para obtener una informacion mas detallada de cada comunidad, solo debera hacer click en la imagen.</p>
    </div>
    <div id="contenido" class="row row-cols-auto">

        <div class="contenidos">
            <a id="imagen1"><img src="../images/reddit.jpg" alt="Home" srcset=""></a>
            <h5>Home</h5>
        </div>
        <div class="contenidos">
            <a id="imagen2"><img src="https://a.thumbs.redditmedia.com/IrfPJGuWzi_ewrDTBlnULeZsJYGz81hsSQoQJyw6LD8.png"
                    alt="Ask Reddit" srcset=""></a>
            <h5>Ask Reddit</h5>
        </div>
        <div class="contenidos">

            <a id="imagen3"><img src="https://b.thumbs.redditmedia.com/rmlXC779KUA2MTO4r_GJd2enqa8GKx3BOasymol6gLk.png"
                    alt="jukmifgguggh" srcset=""></a>
            <h5>jukmifgguggh</h5>
        </div>
        <div class="contenidos">
            <a id="imagen4"><img src="https://b.thumbs.redditmedia.com/l_LTzMogi2fCDc6oEyijcHr0jVjABp5sjQDDL4QCnNo.png"
                    alt="Antiwork: Unemployment for all, not just the rich!" srcset=""></a>
            <h5>Antiwork</h5>
        </div>
        <div class="contenidos">
            <a id="imagen5"><img src="https://a.thumbs.redditmedia.com/QPRnUiar7ozSwbJX9_RpAW1y6r1ZZjxWCoUezMk5mu4.png"
                    alt="PublicFreakout" srcset=""></a>
            <h5>Public Freakout</h5>
        </div>
        <div class="contenidos">
            <a id="imagen6"><img src="https://b.thumbs.redditmedia.com/7wwZOEGowP8VfaKDXrolxpjSE39GjnqTsfb6BSSM7pU.png"
                    alt="Interesting As Fuck" srcset=""></a>
            <h5>Interesting As Fuck</h5>
        </div>
        <div class="contenidos">
            <a id="imagen7"><img src="https://a.thumbs.redditmedia.com/d1huQb5y8kISty2ax02MmO7pK5uVJt1pGuSqOiOjIl0.png" alt="News"
                    srcset=""></a>
            <h5>News</h5>
        </div>
        <div class="contenidos">
            <a id="imagen8"><img src="https://c.thumbs.redditmedia.com/_qQNmzt3pW1yC7Vn.png" alt="No such thing as stupid questions"
                    srcset=""></a>
            <h5>No such thing as stupid questions</h5>
        </div>
        <div class="contenidos">
            <a id="imagen9"><img src="https://b.thumbs.redditmedia.com/9WOt1zfBi4hFqwZgIIT4SUP8A7xOoqmRNQE9cg7LVng.png" alt="funny"
                    srcset=""></a>
            <h5>funny</h5>
        </div>
        <div class="contenidos">
            <a id="imagen10"><img src="https://b.thumbs.redditmedia.com/K8MxV_4PrLwLVMqluld4wpgrbFE2mF3aa3rMv5xT3IY.png" alt="gaming"
                    srcset=""></a>
            <h5>Gaming</h5>
        </div>
        <div class="contenidos">
            <a id="imagen11"><img class="imgContenido"
                    src="https://b.thumbs.redditmedia.com/aTjwRcNAi6fxZ6ROTvbn-a_LD3eeCoXF-bkvJ1oQ_KA.png"
                    alt="League Of Legends" srcset=""></a>
            <h5>League Of Legends</h5>
        </div>
        <div class="contenidos">
            <a id="imagen12"><img src="https://b.thumbs.redditmedia.com/92kXFhefN4BHY7ZK-82Hoj5NHbMP3Io1EUGWjV7Hy2g.png"
                    alt="For photos that are, you know, mildly interesting" srcset=""></a>
            <h5>For photos that are, you know, mildly interesting</h5>
        </div>
        <div class="contenidos">
            <a id="imagen13"><img src="../images/newWorld.png" alt="World News"></a>
            <h5>World News</h5>
        </div>
        <div class="contenidos">
            <a id="imagen14"><img src="https://a.thumbs.redditmedia.com/ZaSYxoONdAREm1_u_sid_fjcgvBTNeFQV--8tz6fZC0.png"
                    alt="Politics" srcset=""></a>
            <h5>Politics</h5>
        </div>
        <div class="contenidos">
            <a id="imagen15"><img src="https://b.thumbs.redditmedia.com/qeRa-Ucl3I32HU_14ojjFoRljS05rX-lg26XP9M1JdI.png"
                    alt="Unexpected" srcset=""></a>
            <h5>Unexpected</h5>
        </div>
        <div class="contenidos">
            <a id="imagen16"><img src="https://b.thumbs.redditmedia.com/ZYuVQ_lgBeGnkVXrgtWHen9vU8hUJmOnYRVS1lUSRss.png"
                    alt=" Next Fucking Level" srcset=""></a>
            <h5> Next Fucking Level</h5>
        </div>
        <div class="contenidos">
            <a id="imagen17"><img src="https://styles.redditmedia.com/t5_38jf0/styles/mobileBannerImage_sos06thiq6s81.png"
                    alt="LivestreamFail" srcset=""></a>
            <h5>Live stream Fail</h5>
        </div>
        <div class="contenidos">
            <a id="imagen18"><img src="https://b.thumbs.redditmedia.com/rh43sQqJjMMYfm-pvm1-T-KS1d4Lzll8daZsJCwob5Y.png"
                    alt="Today I Fucked Up" srcset=""></a>
            <h5>Today I Fucked Up</h5>
        </div>
        <div class="contenidos">
            <a id="imagen19"><img src="https://b.thumbs.redditmedia.com/_J-qf37qKLV9YDnyzSrazonFiPR7LSZTOTUILuaXp5A.png"
                    alt="Minecraft on reddit" srcset=""></a>
            <h5>Minecraft on reddit</h5>
        </div>
        <div class="contenidos">
            <a id="imagen20"><img src="https://b.thumbs.redditmedia.com/pDyA8ZEQoJnlPMbtYxmMOMFlA0-8qm6F1Z_cFbieynE.png"
                    alt="A gallery of inexplicable stupidity" srcset=""></a>
            <h5>A gallery of inexplicable stupidity</h5>
        </div>
        <div class="contenidos">
            <a id="imagen21"><img src="https://b.thumbs.redditmedia.com/TZmIWiVVrJEv5oRfpIpEdOX6WLsk7lFUVIJHQlBnMpA.png"
                    alt="oddlyterrifying" srcset=""></a>
            <h5>oddlyterrifying</h5>
        </div>
        <div class="contenidos">
            <a id="imagen22"><img src="https://a.thumbs.redditmedia.com/wk4DdnifrZxOjoVTiBzk1jsK8RqACLAQi6TO4JMxCx0.png"
                    alt="What Could Possibly Go Wrong" srcset=""></a>
            <h5>What Could Possibly Go Wrong?</h5>
        </div>
        <div class="contenidos">
            <a id="imagen23"><img src="https://a.thumbs.redditmedia.com/N2BhWUpC2AfU_svaFLVr4ji1h3JHr_MOyig_5j20c44.png"
                    alt="Am I the Asshole" srcset=""></a>
            <h5>Am I the Asshole?</h5>
        </div>
        <div class="contenidos">
            <a id="imagen24"><img src="https://e.thumbs.redditmedia.com/gPmIRa9hJtOT7u4L.png" alt="MadeMeSmile" srcset=""></a>
            <h5>Made Me Smile</h5>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Informacion detallada de la comunidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-id" class="col-form-label">ID:</label>
                        <p id="id-comnunidad"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-lang" class="col-form-label">LANG:</label>
                        <p id="lang-comnunidad"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-title" class="col-form-label">TITLE:</label>
                        <p id="title-comnunidad"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-url" class="col-form-label">URL:</label>
                        <p id="url-comnunidad"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-description" class="col-form-label">DESCRIPTION:</label>
                        <p class="parrafo-modal" id="description-comnunidad"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-created" class="col-form-label">CREATED:</label>
                        <p id="created-comnunidad"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</main>